{{ '[HierarchyTokenBucket]' }}
{% if bh.parent is defined and bh.parent != '' %}
{{ 'Parent=' ~ bh.parent }}
{% endif %}
{% if bh.handle is defined and bh.handle != '' %}
{{ 'Handle=' ~ bh.handle }}
{% endif %}
