---
- name: "systemd_helper | Import systemd-networkd interface prereq tasks"
- ansible.builtin.import_tasks:
    file: "deploy.d/networkd_interfaces.d/deploy_networkd_interfaces_prereq.yml"
- name: "systemd_helper | Import systemd-networkd interface generic tasks"
  ansible.builtin.import_tasks:
    file:
      "deploy.d/networkd_interfaces.d/deploy_networkd_interfaces_generic.yml"
- name: "systemd_helper | Import systemd-networkd interface vlan tasks"
  ansible.builtin.import_tasks:
    file: "deploy.d/networkd_interfaces.d/deploy_networkd_interfaces_vlan.yml"
- name: "systemd_helper | Import systemd-networkd interface macvlan tasks"
  ansible.builtin.import_tasks:
    file:
      "deploy.d/networkd_interfaces.d/deploy_networkd_interfaces_macvlan.yml"
- name: "systemd_helper | Include systemd-networkd interface macvlan-on-vlan
  tasks"
  ansible.builtin.include_tasks:
    file:
      "deploy.d/networkd_interfaces.d/deploy_networkd_interfaces_vlan_macvlan.yml"
  loop: "{{ hostvars[inventory_hostname]['systemd_networkd'] |
    community.general.json_query(\"[].interfaces[?interface=='\" ~
    vars['outer_item'] ~ \"'].vlans[]\") | flatten(levels=1) }}"
  loop_control:
    loop_var: "outer_item_vlan"
    label: "{{ 'Try to deploy macvlans on vlan interface: ' ~
      outer_item_vlan['name'] }}"
  when:
    - "outer_item_vlan['macvlans'] is defined"
    - "outer_item_vlan['macvlans'] != []"
