{{ '[DeficitRoundRobinSchedulerClass]' }}
{% if bdc.parent is defined and bdc.parent in ['root', 'clsact', 'ingress'] %}
{{ 'Parent=' + bdc.parent }}
{% endif %}
{% if bdc.class is defined and bdc.class != '' %}
{{ 'ClassId=' ~ bdc.class }}
{% endif %}
{% if bdc.quantum is defined and bdc.quantum != '' %}
{{ 'Quantum=' ~ bdc.quantum }}
{% endif %}
