{% if (ne.address is defined and ne.address | ipaddr('host')) and
      (ne.link_layer_address is defined and
      (ne.link_layer_address | ipaddr('host') or
       ne.link_layer_address | hwaddr())) %}
{{ '[Neighbor]' }}
{{ 'Address' + '=' + ne.address }}
{{ 'LinkLayerAddress' + '=' + ne.link_layer_address }}
{% endif %}
